*
{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
nav{
	background: #1c1c1f;
    height: 5em;
    position: relative    
}
nav ul{
	float: center;
	margin-right: 40px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)	
}

nav li{
	display: inline-block;
	margin: 0 8px;
	line-height: 80px;   
}

nav a{
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	border: 1px solid transparent;
	padding: 7px 50px;
	border-radius: 20px;
	border-right: solid transparent;
    text-decoration: none;   
}

a.active,a:hover{
	border: 1px solid white;
	transition: .5s;
	border-right: solid;
}

nav #icon {
	color: whitesmoke;
	font-size: 30px;
	line-height: 80px;
	float: right;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
